/*
. => class selector
# => id selector
*/

body {
    background-color: #FCF9D2; 
}

input#submitButton {
    visibility: hidden;
}

div#messageEnemyLocation {
    position: absolute;
    color: #000000;
}

div#messagePlayerLocation {
    position: right;
    color: #000000;
}

table, th, td{
    border: 1px solid black;
}

.noBorder {
    border: 0px;
}

.statsProp {
    font-weight: bold;
}

.spell {
    width: 64px;
    height: 64px;
}

.spellLaunch {
    border: 0px solid black;
    padding: 5px;
}

table#spellLaunchTable {
    border: 0px solid black;
}

section#section-left {
    width: 300px;
    float:left;
    padding:10px;
}

section#section-center {
    width: 400px;
    float:left;
    padding:10px;
}

section#section-right {
    width: 500px;
    float:left;
    padding:10px;
}

img.top-stats {
    width: 21px;
    height: 21px;
}

table.top-stats-table, th.top-stats-table, td.top-stats-table{
    border: 0px solid black;
}